/* 版心大小 */
.w {
	width: 1200px;
	margin: 0 auto;
}
/* 字体图标 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 字体红色样式 */
.stylered {
	color: red;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/* 快捷导航模块 */
.shortcut {
	height: 31px;
	background-color: #f1f1ff;
	line-height: 31px;
}

.shortcut ul li {
	float: left;
}

.shortcut .fr ul li:nth-child(even) {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 15px 0;
}

.shortcut .fr ul .icon::after {
	content: '\ea52';
	font-family: 'icomoon';
	margin-left: 6px;
}

/* 头部板块 */
.header {
	position: relative;
	height: 150px;
}
.logo {
	position: absolute;
	top: 25px;
	width: 171px;
	height: 61px;
}
.logo a {
	display: block;
	width: 171px;
	height: 61px;
	background: url('../images/logo.png')no-repeat;
	font-size: 0;
}
.search {
	position: relative;
	box-sizing: border-box;
	left: 346px;
	top: 25px;
	width: 538px;
	height: 36px;
	border: 2px solid #b1191a;
}
.search input {
	float: left;
	box-sizing: border-box;
	width: 454px;
	height: 32px;
	padding: 10px;
}
.search button {
	float: left;
	width: 80px;
	height: 32px;
	background-color: #b1191a;
	font-size: 16px;
	color: #fff;
}
.hotWords {
	position: absolute;
	top: 66px;
	left: 346px;
}
.hotWords a {
	margin: 0 10px;
}

.shopcar {
	position: absolute;
	top: 25px;
	right: 60px;
	width: 140px;
	height: 35px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	line-height: 35px;
	text-align: center;
}

.shopcar::before {
	content: '\e93a';
	font-family: 'icomoon';
	margin-right: 5px;
	color: #b1191a;
}

.shopcar::after {
	content: '\ea51';
	font-family: 'icomoon';
	margin-left: 10px;
	font-size: 12px;
}
.count {
	position: absolute;
	top: -5px;
	left: 105px;
	height: 14px;
	line-height: 14px;
	padding: 0 5px;
	color: #fff;
	background-color: #b1191a;
	border-radius: 7px 7px 7px 0;
}

.nav {
	height: 47px;
	border-bottom: 2px solid #b1191a;
}

.dropDown {
	float: left;
	width: 210px;
	height: 45px;
	background-color: #b1191a;
}
.dropDown .dt {
	height: 100%;
	color: #fff;
	text-align: center;
	line-height: 45px;
}
.dropDown .dd {
	width: 210px;
	height: 465px;
	background-color: #c81623;
	margin-top: 2px;
}
.dropDown .dd ul li {
	position: relative;
	height: 31px;
	color: #fff;
	line-height: 31px;
	margin-left: 2px;
	padding-left: 10px;
}

.dropDown .dd ul li:after {
	position: absolute;
	top: 1px;
	right: 10px;
	font-family: 'icomoon';
	content: '\ea50';
	font-size: 14px;
	
}

.dropDown .dd ul li a {
	font-size: 14px;
	color: #fff;
}
.dropDown .dd ul li:hover {
	background-color: #fff;
}

.dropDown .dd ul li:hover a {
	color: #c81623;
}

.nav .navItem {
	float: left;
}

.nav .navItem ul li {
	float: left;
}
.nav .navItem ul li a {
	display: block;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	padding: 0 25px;
}

/* 底部模块 */
.footer {
	height: 415px;
	background-color: #f5f5f5;
	padding-top: 30px;
}
.service {
	height: 80px;
	border-bottom: 1px solid #ccc;
}
.service ul li {
	float: left;
	width: 300px;
	height: 50px;
	padding-left: 35px;
}
.service ul li h5 {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	background: url('../images/icons.png') no-repeat -252px -2px;
}
.service-text {
	padding-top: 4px;
}
.service-text h4 {
	font-size: 14px;
}
.service-text p {
	font-size: 12px;
}

.service-help {
	height: 185px;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-left: 50px;
}
.service-help dl {
	float: left;
	width: 200px;
}
.service-help dl:last-child {
	width: 90px;
	text-align: center;
}
.service-help dl dt {
	font-size: 16px;
	margin-bottom: 10px;
}

.service-copyright {
	position: relative;
	padding-top: 20px;
	text-align: center;
}

.service-copyright .links {
	position: absolute;
	margin-bottom: 15px;
	right: 200px;
	height: 20px;
}

.service-copyright .links ul li {
	float: left;
	padding: 0 5px;
}

